* {
  box-sizing: border-box;
}
body{
  height: 100vh;
}

.header{
    top: 0px;
    height: 10vh;
    background-color: #ccc;
    width: 100%;

}
.footer{
    position: absolute;
    bottom: 0px;
    height: 10vh;
    background-color: #ccc;
    width: 100%;

}
.flex-container{
    display: flex;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 70vh;
}
.a{
    background-color: rgb(43, 130, 43);
    width: 60%;
    order: 2;
}
.b{
    background-color: rgb(54, 102, 54);
    width: 20%;
    order: 1;
}
.c{
    background-color: yellow;
    width: 20%;
    order: 3;
}


@media only screen and (max-width: 820px){

.header{
    
    height: 5vh;
   

}
.footer{
    
    height: 5vh;

}
    .flex-container{
        flex-wrap: wrap;
        height: 80vh;
    }
    .a{
        width: 100%;
        height: 50%;
        order: 1;
    }
    .b{
        width: 50%;
        order: 2;
        height: 50%;
    }
    .c{
        width: 50%;
        order: 3;
        height: 50%;

    }
}

@media only screen and (max-width: 500px){
    .flex-container{
        flex-direction: column;

    }
    .a{
        width: 100%;
        height: 50%;
        order: 1;
    }
    .b{
        width: 100%;
        order: 2;
        height: 25%;
    }
    .c{
        width: 100%;
        order: 3;
        height: 25%;

    }
}