
* {
  box-sizing: border-box;
}
body{
  height: 100vh;
}
.header {
  position: relative;
  top: 0px;
  width: 100%;
  height: 10vh;
  background-color: #ccc;
}

.footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 10vh;
  background-color: #ccc;
}

.flex-container {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  height: 70vh;
}

.left {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}
.right {
  width: 30%;
  height: 100%;
}
.red {
  background-color: red;
  width: 100%;
  height: 50%;
}
.orange {
  background-color: orange;
  width: 100%;

  height: 50%;
}

.yellow {
  background-color: yellow;
  height: 100%;
}

@media only screen and (max-width: 820px){
    .left{
        width: 50%;
    }

    .right{
        width: 50%;
    }
}


@media only screen and (max-width: 400px){
 
  .flex-container{
    flex-direction: column;
  }
  .left{
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 70%;
  }
  .right{
    width: 100%;
    height: 30%;
  }
}